* {
    margin: auto;
    padding: auto;
}
body {
    padding: 40px
}
h1 {
    color: teal;
}
.pictures {
    width: 1140px;
    text-align: center;
    padding-top: 50px;
}
img {
    width: 279px;
    margin: 0px;
    display: inline-block;
}
button {
    margin-top: 30px;
    background-color: blue;
    height: 40px;
    width: 90px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}